<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="my_head">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">博客园</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">文章 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/addarticle/">随笔</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="/login/">{{ request.user.username }}</a></li>
                        <li><a href="#"></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">更多信息 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">修改密码</a></li>
                                <li><a href="#">修改头像</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout/">退出登录</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/login/">登录</a></li>
                        <li><a href="/register/">注册</a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

            <div class="panel panel-danger">
                <div class="panel-heading">广告信息</div>
                <div class="panel-body">
                    重金求子
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">草榴社区</div>
                <div class="panel-body">
                    详情咨询：8888
                </div>
            </div>

        </div>
        <div class="col-md-6">
            {% for articles in articles_list %}
                <p><h4><a href="/{{ articles.user.username }}/article/{{ articles.pk }}">{{ articles.title }}</a></h4></p>
                <div class="media-left"><img height="60" width="60"
                                             src="/media/{{ articles.user.avatar }}"
                                             alt=""></div>
                <div class="media-right">
                    {{ articles.desc }}
                </div>
                <div style="margin-top: 10px">
                <span><a href="">{{ articles.user.username }}</a></span>&nbsp
                <span>发布于：{{ articles.create_time|date:'Y-m-d' }}</span>&nbsp
                <span class="glyphicon glyphicon-comment">评论数（{{ articles.comment_count}}）</span>&nbsp
                <span class="glyphicon glyphicon-thumbs-up">点赞数（{{ articles.up_count}}）</span>&nbsp

                </div>

                <hr>
            {% endfor %}


        </div>
        <div class="col-md-3">

            <div class="panel panel-danger">
                <div class="panel-heading">广告信息</div>
                <div class="panel-body">
                    重金求子
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">草榴社区</div>
                <div class="panel-body">
                    详情咨询：8888
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">广告信息</div>
                <div class="panel-body">
                    重金求子
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>