<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
    <style>
        .errors {
            color: red;
        }
    </style>
    <title>登录页面</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>登录</h1>
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="">用户名</label>
                    <input type="text" id="id_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">密码</label>
                    <input type="text" id="id_pwd" class="form-control">
                </div>
                <div class="form-group">
                    <div id="popup-captcha"></div>
                </div>
                {#                <div class="form-group">#}
                {#                    <label for="">验证码</label>#}
                {#                    <div class="row">#}
                {#                        <div class="col-lg-6">#}
                {#                            <input type="text" id="code" class="form-control">#}
                {#                        </div>#}
                {#                        <div class="col-lg-6">#}
                {#                            <img height="35" width="250" src="/get_code/" alt="">#}
                {#                        </div>#}
                {##}
                {#                    </div>#}
                {#                </div>#}
                <input type="button" id="submit" value="登录" class="btn btn-danger">
                <span class="errors"></span>
            </form>

        </div>
    </div>
</div>

<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script>
    var handlerPopup = function (captchaObj) {
        // 成功的回调
        captchaObj.onSuccess(function () {
            var validate = captchaObj.getValidate();
            $.ajax({
                url: "/login/", // 进行二次验证
                type: "post",
                dataType: "json",
                data: {
                    username: $('#id_name').val(),
                    password: $('#id_pwd').val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    geetest_challenge: validate.geetest_challenge,
                    geetest_validate: validate.geetest_validate,
                    geetest_seccode: validate.geetest_seccode
                },
                success: function (data) {
                    if (data && (data.user)) {
                        console.log(data.user);
                        location.href=data.msg;
                    } else {
                        console.log(data.user);
                        $('.errors').html('<h1>登录失败</h1>');
                    }
                }
            });
        });
        $("#submit").click(function () {
            captchaObj.show();
        });
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#popup-captcha");
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerPopup);
        }
    });

    {#验证码#}
    {#$("#submit").click(function () {#}
    {#    $.ajax({#}
    {#        url: '/login/',#}
    {#        type: 'post',#}
    {#        data: {#}
    {#            'name': $("#id_name").val(),#}
    {#            'pwd': $("#id_pwd").val(),#}
    {#            'code': $("#code").val(),#}
    {#            'csrfmiddlewaretoken':'{{csrf_token}}'#}
    {#        },#}
    {#        success: function (data) {#}
    {#            if(data.user){#}
    {#                //一旦登录成功，跳转到首页#}
    {#                location.href='/index/'#}
    {#            }else{#}
    {#                $(".errors").text(data.msg)#}
    {#            }#}
    {##}
    {#        }#}
    {##}
    {##}
    {#    })#}
    {#,})#}

</script>
</body>
</html>